<div class="page">
  <h1>Sign In</h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input
      formControlName="username"
      type="text"
      placeholder="Please enter the user name"
    />

    <div class="password-wrapper">
      <input
        [type]="isPasswordHidden ? 'password' : 'text'"
        formControlName="password"
        placeholder="Please enter the password"
      />

      <button
        type="button"
        class="toggle-password"
        [ngClass]="isPasswordHidden ? 'eye-closed' : 'eye-open'"
        (click)="onTogglePasswordVisibility()"
        aria-label="Toggle password visibility">
      </button>
    </div>

    <button type="submit">Sign In!</button>
  </form>

  @if(showAlert){
  <div class="custom-alert">
    Error: {{ alertErrorMessage }}
  </div>}
</div>